{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <section class="hero-wrap js-fullheight">
	      <div class="container px-0">
	        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-12 ftco-animate text-center">
	          	<div class="desc">
		            <h1>Welcome to budget app.</h1>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
{% endblock %}