{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
      <div class="login-page">
      <div class="form">
        <form method="post" class="login-form">
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/>
          <button type="submit">login</button>
          <p class="message">Not registered? <a href="{{ url_for('auth.register') }}">Create an account</a></p>
        </form>
      </div>
    </div>
{% endblock %}