{% extends 'base.html' %}

{% block title %}Cart{% endblock %}
{% block static %}<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">{% endblock %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
        <div class="flex-1 overflow-y-auto py-6 px-4 sm:px-6">
          <div class="flex items-start justify-between">
            <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
            <div class="ml-3 flex h-7 items-center">
              <button type="button" onclick="location.href='{{ url_for('cart.reset_cart') }}'" class="font-medium text-indigo-600 hover:text-indigo-500">Reset cart</button>
            </div>
          </div>

          <div class="mt-8">
            <div class="flow-root">
              <ul role="list" class="-my-6 divide-y divide-gray-200">
              {% for entry in cart_list %}
                <li class="flex py-6">
                  <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                    <img src="" alt="product image" class="h-full w-full object-cover object-center">
                  </div>

                  <div class="ml-4 flex flex-1 flex-col">
                    <div>
                      <div class="flex justify-between text-base font-medium text-gray-900">
                        <h3>
                          <a href="#">{{ entry[0] }}</a>
                        </h3>
                        <p class="ml-4">{{ entry[2] }}</p>
                      </div>
                      <p class="mt-1 text-sm text-gray-500">{{ entry[1] }}</p>
                    </div>
                    <div class="flex flex-1 items-end justify-between text-sm">
                      <p class="text-gray-500">Qty 1</p>

                      <div class="flex">
                        <button type="button" onclick="location.href='/cart/del/{{ entry[3] }}'" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
          <div class="flex justify-between text-base font-medium text-gray-900">
            <p>Subtotal</p>
            <p>{{ cart_total }}</p>
          </div>
          <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
          <div class="mt-6">
            <a href="{{ url_for('cart.checkout') }}" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
          </div>
          <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
            <p>
              or <button type="button" onclick="location.href='{{ url_for('shop.shop') }}'" class="font-medium text-indigo-600 hover:text-indigo-500">Continue Shopping<span aria-hidden="true"> &rarr;</span></button>
            </p>
          </div>
        </div>
    </div>
</section>
{% endblock %}